---
import GalleryImage from "../components/GalleryImage.astro";
import Page from "../layouts/Page.astro";

import sauce from "../img/gallery/136AE767-9AEA-48CD-8D18-F49554943271_1_105_c.jpeg";
import ratHole from "../img/gallery/15920E2F-1818-465A-8A4C-5538952E4C27_1_105_c.jpeg";
import rer from "../img/gallery/4A474841-855C-4FBC-B276-0DF9A83DC14E_1_105_c.jpeg";
import chocolate from "../img/gallery/86A0734A-33F4-4CEB-9830-7C9EE7BECE31_1_105_c.jpeg";
import mario from "../img/gallery/C129BB73-58A7-4F26-BC7A-0F782CB24C51_1_105_c.jpeg";
import sunset from "../img/gallery/C490A096-BD6C-4FB7-B528-9879B80AFCD2_1_105_c.jpeg";
import ferry from "../img/gallery/FF9F89C0-54B0-43B5-86DA-343CBAE1DF2A_1_105_c.jpeg";
import gong from "../img/gallery/DB790095-CEB6-4544-A308-9ED413B29001_1_105_c.jpeg";
import steal from "../img/gallery/1C1E21F0-6A13-4A9E-8E03-1E7D5314F648_1_105_c.jpeg";
import tickets from "../img/gallery/592C0F1D-0A27-498D-A7A6-B51CD71D1D1C_1_105_c.jpeg"
import sunrise from "../img/gallery/FFBC6D4E-2586-4E4F-9652-655850278F3E_1_105_c.jpeg"
---

<Page title="Caleb Denio" selected="gallery" fullBleed>
  <div class="grid grid-cols-2 xl:grid-cols-3 overflow-hidden rounded-lg">
    <GalleryImage
      src={sunrise.src}
      description="Sunrise on the Northeast Corridor."
    />
    <GalleryImage
      src={tickets.src}
      align="bottom"
    />
    <GalleryImage
      src={sauce.src}
      description="Gotta pull out the good stuff every now and then."
    />
    <GalleryImage
      src={ratHole.src}
      description="The Chicago Rat Hole is... underwhelming in person."
    />
    <GalleryImage
      src={rer.src}
      description="Definitely one of my favorite transit systems."
    />
    <GalleryImage
      src={chocolate.src}
      description="Hot chocolate: a drink for any occasion."
      align="bottom"
    />
    <GalleryImage src={mario.src} description="It's-a him!" />
    <GalleryImage
      src={sunset.src}
      description="I think this is my phone wallpaper."
    />
    <GalleryImage src={ferry.src} description="A ferry?? For bikes???" />
    <GalleryImage
      src={gong.src}
      description="More coffee shops should have a gong!"
    />
    <GalleryImage src={steal.src} description="Narrator: 'It was stolen'" />
  </div>
</Page>
